<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CallBack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
    <h1 class="h3 mb-3 font-weight-normal">Welcome</h1>
    <a href="http://localhost:8080/api/tiger-tracker/v1/tigers?pageNo=1&pageSize=10" class="btn-primary"> View Recent Tiger Sightings</a>
</div>
</body>
</html>