<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
    <h1 class="h3 mb-3 font-weight-normal">Welcome to the world of tigers</h1>
    <p>Already have an account ? <a href="{{ oauth_init_url }}" class="btn-primary">Click here to begin</a> </p>
    <p>Or <a href="/signup" class="btn-primary">Signup here</a></p>
</div>
</body>
</html>